# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.recommenders/
.metadata/
*.class
TOWERDEFENSECODE/SamuraiDefense/bin/Acantilado.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonArqueroElite.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonArqueroEliteEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonEmperadorReal.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonEmperadorRealEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonEspadachinElite.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonEspadachinEliteEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonInicioJuego.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonInicioJuegoEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonInicioSalir.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonInicioSalirEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonLanceroElite.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonLanceroEliteEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonNinjaElite.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonNinjaEliteEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonPausa.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonPausaEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonSamuraiElite.png
TOWERDEFENSECODE/SamuraiDefense/bin/Botones/BotonSamuraiEliteEntered.png
TOWERDEFENSECODE/SamuraiDefense/bin/BotonesTIENDA.psd
TOWERDEFENSECODE/SamuraiDefense/bin/Cascada.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Espadachin.png
TOWERDEFENSECODE/SamuraiDefense/bin/EspadachinStanding.gif
TOWERDEFENSECODE/SamuraiDefense/bin/EspadachinWalking.gif
TOWERDEFENSECODE/SamuraiDefense/bin/FondoInicio.jpg
TOWERDEFENSECODE/SamuraiDefense/bin/FondoMapa1.png
TOWERDEFENSECODE/SamuraiDefense/bin/FondoMapa2.png
TOWERDEFENSECODE/SamuraiDefense/bin/FondoMapa3.jpg
TOWERDEFENSECODE/SamuraiDefense/bin/FondoPanelStats.png
TOWERDEFENSECODE/SamuraiDefense/bin/FondoPanelTienda.png
TOWERDEFENSECODE/SamuraiDefense/bin/Fondos/FondoInicio.jpg
TOWERDEFENSECODE/SamuraiDefense/bin/Fondos/FondoMapa1.png
TOWERDEFENSECODE/SamuraiDefense/bin/Fondos/FondoMapa2.png
TOWERDEFENSECODE/SamuraiDefense/bin/Fondos/FondoMapa3.jpg
TOWERDEFENSECODE/SamuraiDefense/bin/Fondos/FondoPanelStats.png
TOWERDEFENSECODE/SamuraiDefense/bin/Fondos/FondoPanelTienda.png
TOWERDEFENSECODE/SamuraiDefense/bin/Fondos/FondoTienda.jpg
TOWERDEFENSECODE/SamuraiDefense/bin/FondoTienda.jpg
TOWERDEFENSECODE/SamuraiDefense/bin/Monedas.png
TOWERDEFENSECODE/SamuraiDefense/bin/NinjaRunning.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Oro.png
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Atacantes/NinjaRunning.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/ArqueroEliteAttacking.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/ArqueroEliteDying.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/ArqueroEliteStanding.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/EspadachinEliteAttacking.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/EspadachinEliteDying.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/EspadachinEliteStanding.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/EspadachinStanding.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/EspadachinWalking.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/NinjaEliteAttacking.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/NinjaEliteDying.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Personajes/Defensores/NinjaEliteStanding.gif
TOWERDEFENSECODE/SamuraiDefense/bin/Samurai Shodown 3 - Stages - Galford Stage.png
